body{
    display:flex;
    flex-direction: column;
       
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.content{
    display: flex;
    flex-direction:column;
    flex: 1;
}
.logo{
    display:flex;
}

.info{
    display: flex;
    
}

.quote{
    display: flex;
    
}

.calltoaction{
    display: flex;
    
}

.footer{
    display: flex;
    justify-content: center;
}