*{
    box-sizing: border-box;
}
body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
       
}

.infocards, .quote, .calltoaction, .footer{
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 72px;
    padding: 16px;

}
.header ul{
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
    
}

.content{
    display: flex;
    flex-direction:column;
    flex: 1;
}
.hero{
    display: flex;
    justify-content: space-around;
    padding: 16px;
}
.herosignup{
    width: 600px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-height: 400px;
}

.infocards{
    flex-direction: row;
}
.card{
    max-width: 220px;
    margin: 20px;
}

.card img {
    border-radius: 10%;
    border: 4px solid blue;
}

.quote{
    min-height: 500px;
}
.quotecontainer{
    display: flex;
    flex-direction:column;
    align-items: center;
    max-width: 800px;
}
.quotetext{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    padding: 60px 0px;
}
.quotesource{
    align-self: flex-end;
    font-weight: 700;
    
}

.calltoaction{
    min-height: 300px;
    align-items: center;
}
.footer{
    height: 72px;
}

/* colors */
.header, .hero, .footer{
    background-color: #1f2937;
    color: #f9faf8;
}

.quote{
    background-color: #e5e7eb;   
    color: black;
        
}